<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>HELLO THIS IS HOME PAGE</div>
    <div>
      <ul>
        <li><a href="/user">USER ROUTES</a></li>
        <li><a href="/user/profile">USER PROFILE</a></li>
        <li><a href="/user/feed">USER FEED</a></li>
        <li><a href="/user/explorer">USER Explorer</a></li>
        <li><a href="/user/home">USER Home</a></li>
        <li><a href="/user/logout">USER LOGOUT</a></li>
      </ul>

    </div>
  </body>
</html>
