<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/user/chats.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    </head>
    <header>
        <nav>
                <!--logo-->
                <a href="#">
                    <div class="logo">
                        
                            <img src="/icons/logo.svg">
                            <h3>Chat</h3>
                        
                    </div>
                </a>
                <!--search-->
                <div class="search">
                    <img src="/icons/search-ico.svg">
                    <input type="search" placeholder="Search">
                </div>
                <!--nav options-->
                <div class="nav-options">
                    <div class="search-mini">
                        <button><img src="/icons/search-mini-ico.svg"></button>
                    </div>
                    <ul>
                        <li>
                            <a href="#"><img src="/icons/explore-ico.svg"></a>
                        </li>
                        
                        <li>
                            <a href="#"><img src="/icons/write-post-ico.svg"></a>
                        </li>
                        
                        <li>
                            <a href="#"><img src="/icons/notif-ico.svg"></a>
                        </li>
                        
                    </ul>    
                    <a href="#">
                        <div class="user"><i class="fa-solid fa-user"></i></div>
                    </a>
                    
                    
                </div>
        </nav>
    </header>
    <body>
       <main>
            <!--chat section-->
            <div class="chat-section">
                <div class="search chat-search">
                    <img src="/icons/search-ico.svg">
                    <input type="search" placeholder="Search">
                </div>
                <div class="chat__s">
                    <!--chat 1-->
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile1-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Tim He</h4>
                            <p>Hey Tim,thank you for the message</p>
                        </div>
                        <div class="chat-time">
                            <p>Just now</p>
                        </div>
                    </div>
                    
                    <!--chat 2-->
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile2-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Carol Lei</h4>
                            <p>Hey Helen,it's nice to meet you</p>
                        </div>
                        <div class="chat-time">
                            <p>2m</p>
                        </div>
                    </div>
                    <!--chat 3-->
                    <div class="chat" role="button">
                        <div class="chat-prof" role="button">
                            <img class="chat-prof-img" src="/icons/chat-profile3-ico.svg">

                        </div>
                        <div class="chat-name">
                            <h4>Christina Chen</h4>
                            <p>I saw your article, it is really interesting</p>
                        </div>
                        <div class="chat-time">
                            <p>2m</p>
                        </div>
                    </div>
                    <!--chat 4-->
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile4-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Carl Barenbrug</h4>
                            <p>Is the job SF based or remote?</p>
                        </div>
                        <div class="chat-time">
                            <p>1w</p>
                        </div>
                    </div>
                    <!--chat 5-->
                
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile5-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Gavriel Sharabi</h4>
                            <p>Hey,how can I help?</p>
                        </div>
                        <div class="chat-time">
                            <p>1w</p>
                        </div>
                    </div>
                
                    <!--chat 6-->
                    
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile6-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Jesse Vermeulen</h4>
                            <p>This is really good</p>
                        </div>
                        <div class="chat-time">
                            <p>1w</p>
                        </div>
                    </div>
                    
                    <!--chat 7-->
                    
                    <div class="chat" role="button">
                        <div class="chat-prof">
                            <img class="chat-prof-img" src="/icons/chat-profile7-ico.svg">
                        </div>
                        <div class="chat-name">
                            <h4>Praveen Soni</h4>
                            <p>I'm interested on the job you posted</p>
                        </div>
                        <div class="chat-time">
                            <p>2w</p>
                        </div>
                    </div>    
                    
                </div>
            </div>
            <!--null space-->
            <div class="null"></div>
       </main>
        
    </body>
</html>