<script src="https://cdn.tailwindcss.com"></script>
<div class="flex flex-col justify-center bg-white">
  <div class="flex flex-col pb-20 w-full bg-white max-md:max-w-full">
    <div
      class="flex gap-0 justify-between px-10 py-3 border-b border-gray-200 border-solid max-md:flex-wrap max-md:px-5"
    >
      <div
        class="flex gap-5 justify-between my-auto text-stone-900 max-md:flex-wrap"
      >
        <div class="flex gap-4 text-lg font-bold tracking-tight">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/85d8aea482e5b5a01a5af21707ed2c3c886a5eff3b01688d7e1daf250b5af9c5?"
            class="shrink-0 my-auto w-4 aspect-square"
          />
          <div>Social Media Platform</div>
        </div>
        <div
          class="flex gap-5 justify-between self-start text-sm font-medium leading-5 whitespace-nowrap"
        >
          <div>Home</div>
          <div>Messages</div>
          <div>Notifications</div>
        </div>
      </div>
      <div class="flex gap-5 pl-20 max-md:flex-wrap">
        <div
          class="flex gap-3 justify-between px-4 py-2 text-base leading-6 whitespace-nowrap bg-lime-50 rounded-3xl text-stone-500"
        >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/3276e1b3701d52447c3a986717ea5837d8a460d31e1ee07c4f87f6eeec238050?"
            class="shrink-0 w-6 aspect-square"
          />
          <div>Search</div>
        </div>
        <div class="flex gap-2">
          <div
            class="flex justify-center items-center p-2.5 w-10 h-10 bg-lime-50 rounded-3xl"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/2d2e20e6475ce511b97528eedf2c8842326508aa9355864aa8d24187c189d59d?"
              class="w-5 aspect-square"
            />
          </div>
          <div
            class="flex justify-center items-center p-2.5 w-10 h-10 bg-lime-50 rounded-3xl"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/e870bfeb88aa3c491215bfd38b068b2d258e1506f56fab719d82155301d64191?"
              class="w-5 aspect-square"
            />
          </div>
        </div>
        <img
          loading="lazy"
          src="/images/userProfile.png"
          class="shrink-0 w-10 aspect-square"
        />
      </div>
    </div>
    <div
      class="justify-center px-6 pt-5 mb-52 w-full max-md:px-5 max-md:mb-10 max-md:max-w-full"
    >
      <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex flex-col justify-between p-4 mx-auto w-full bg-white leading-[150%] max-md:mt-6"
          >
            <div class="flex gap-3">
              <img
                loading="lazy"
                src="/images/userProfile.png"
                class="shrink-0 self-start w-10 aspect-square"
              />
              <div class="flex flex-col">
                <div class="text-base font-medium text-stone-900">
                  Jackson Brittons
                </div>
                <div class="text-sm text-stone-500">@jacksonb</div>
              </div>
            </div>
            <div class="sidebar">
              <div
                class="flex gap-3 px-3 py-2 mt-4 text-sm font-medium whitespace-nowrap bg-lime-50 rounded-3xl text-stone-900"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/b35af3a8244dc3394ee38056aaa001467bd4ac6638fc3784770f674180e11bf8?"
                  class="shrink-0 w-6 aspect-square"
                />
                <div>Dashboard</div>
              </div>
              <div
                class="flex gap-3 px-3 py-2 mt-2 text-sm font-medium whitespace-nowrap text-stone-900"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/a1c7b55c9d619a026acc58341e47ae8220c24e06a6720d4d33c692d4683f15a0?"
                  class="shrink-0 w-6 aspect-square"
                />
                <div>Timeline</div>
              </div>
              <div
                class="flex gap-3 px-3 py-2 mt-2 text-sm font-medium whitespace-nowrap text-stone-900"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/206f2f9fb8c804c46fdffe508781eac5daaa62e6b65dc6dfe6e9e03c3acd1f77?"
                  class="shrink-0 w-6 aspect-square"
                />
                <div>Explore</div>
              </div>
              <div
                class="flex gap-3 px-3 py-2 mt-2 text-sm font-medium text-stone-900"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d1ddcea56b7820ef74b866a11b0b44d61cddd925c93923c20f627589bcccad55?"
                  class="shrink-0 w-6 aspect-square"
                />
                <div>Audio & Video</div>
              </div>
              <div
                class="flex gap-3 px-3 py-2 mt-2 text-sm font-medium whitespace-nowrap text-stone-900"
              >
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/9bde66e25a9b14e72994ab630c7a01803da10b3e3cf0ef1452f7a6ed8c80b60c?"
                  class="shrink-0 w-6 aspect-square"
                />
                <div>Groups</div>
              </div>

              <div
                class="flex justify-center items-center px-4 py-2.5 text-sm font-bold tracking-wide text-white bg-emerald-600 rounded-3xl mt-[732px] max-md:px-5 max-md:mt-10"
              >
                <div class="justify-center bg-emerald-600">Upgrade Plan</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-9/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex flex-col grow pt-3 pb-20 max-md:mt-6 max-md:max-w-full"
          >
            <div
              class="flex flex-col ml-4 max-w-full text-stone-900 w-[400px] max-md:ml-2.5"
            >
              <div
                class="flex gap-5 text-sm leading-5 text-center whitespace-nowrap"
              >
                <div class="flex flex-col justify-center items-center">
                  <img loading="lazy" src="/images/userProfile.png" class="w-16 aspect-square" />
                  <div class="mt-2">Alice</div>
                </div>
                <div class="flex flex-col justify-center items-center">
                  <img loading="lazy" src="/images/userProfile.png" class="w-16 aspect-square" />
                  <div class="mt-2">Bob</div>
                </div>
                <div class="flex flex-col justify-center">
                  <img
                    loading="lazy"
                    src="/images/userProfile.png"
                    class="self-center w-16 aspect-square"
                  />
                  <div class="mt-2">Charlie</div>
                </div>
                <div class="flex flex-col justify-center items-center">
                  <img loading="lazy" src="/images/userProfile.png" class="w-16 aspect-square" />
                  <div class="mt-2">Dana</div>
                </div>
                <div class="flex flex-col justify-center items-center">
                  <img loading="lazy" src="/images/userProfile.png" class="w-16 aspect-square" />
                  <div class="mt-2">Eve</div>
                </div>
              </div>
              <div class="mt-8 text-2xl font-bold tracking-tight">
                Featured Posts
              </div>
            </div>
            <div
              class="flex flex-col items-start px-4 pt-4 pb-7 mt-3 leading-[150%] max-md:max-w-full"
            >
              <div class="flex gap-3 self-stretch max-md:flex-wrap">
                <div class="flex flex-col flex-1 pb-3">
                  <img
                    loading="lazy"
                    src="/images/featuredPost.png"
                    class="self-center aspect-square w-[168px]"
                  />
                  <div class="mt-3 text-base font-medium text-stone-900">
                    Neon Dreams
                  </div>
                  <div class="text-sm text-stone-500">Posted by Alice</div>
                </div>
                <div class="flex flex-col flex-1 pb-3">
                  <img
                    loading="lazy"
                    src="/images/featuredPost.png"
                    class="self-center aspect-square w-[168px]"
                  />
                  <div class="mt-3 text-base font-medium text-stone-900">
                    Concert Vibes
                  </div>
                  <div class="text-sm text-stone-500">Posted by Bob</div>
                </div>
                <div class="flex flex-col flex-1 pb-3">
                  <img
                    loading="lazy"
                    src="/images/featuredPost.png"
                    class="self-center aspect-square w-[168px]"
                  />
                  <div class="mt-3 text-base font-medium text-stone-900">
                    Dance Energy
                  </div>
                  <div class="text-sm text-stone-500">Posted by Charlie</div>
                </div>
                <div class="flex flex-col flex-1 pb-3">
                  <img
                    loading="lazy"
                    src="/images/featuredPost.png"
                    class="self-center aspect-square w-[168px]"
                  />
                  <div class="mt-3 text-base font-medium text-stone-900">
                    Abstract Art
                  </div>
                  <div class="text-sm text-stone-500">Posted by Dana</div>
                </div>
                <div class="flex flex-col flex-1 pb-3">
                  <img
                    loading="lazy"
                    src="/images/featuredPost.png"
                    class="self-center aspect-square w-[168px]"
                  />
                  <div class="mt-3 text-base font-medium text-stone-900">
                    DJ Nights
                  </div>
                  <div class="text-sm text-stone-500">Posted by Eve</div>
                </div>
              </div>
              <img
                loading="lazy"
                src="/images/featuredPost.png"
                class="mt-3 max-w-full aspect-square w-[168px]"
              />
              <div class="mt-3 text-base font-medium text-stone-900">
                Crowd Cheers
              </div>
              <div class="text-sm text-stone-500">Posted by Frank</div>
            </div>
            <div
              class="self-start mt-5 ml-4 text-2xl font-bold tracking-tight text-stone-900 max-md:ml-2.5"
            >
              Featured Friends
            </div>
            <div class="justify-center p-4 mt-3 max-md:max-w-full">
              <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full">
                  <div
                    class="flex flex-col grow pb-3 leading-[150%] max-md:mt-7"
                  >
                    <img
                      loading="lazy"
                      src="/images/featuredPost.png"
                      class="self-center aspect-[0.75] w-[213px]"
                    />
                    <div class="mt-3 text-base font-medium text-stone-900">
                      Jackson Brittons
                    </div>
                    <div class="text-sm text-stone-500">
                      Creator of the Month
                    </div>
                  </div>
                </div>
                <div
                  class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full"
                >
                  <div
                    class="flex flex-col grow pb-3 leading-[150%] max-md:mt-7"
                  >
                    <img
                      loading="lazy"
                      src="/images/featuredPost.png"
                      class="self-center aspect-[0.75] w-[213px]"
                    />
                    <div class="mt-3 text-base font-medium text-stone-900">
                      Jackson Brittons
                    </div>
                    <div class="text-sm text-stone-500">Top Performer</div>
                  </div>
                </div>
                <div
                  class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full"
                >
                  <div
                    class="flex flex-col grow pb-3 leading-[150%] max-md:mt-7"
                  >
                    <img
                      loading="lazy"
                      src="/images/featuredPost.png"
                      class="self-center aspect-[0.75] w-[213px]"
                    />
                    <div class="mt-3 text-base font-medium text-stone-900">
                      Jackson Brittons
                    </div>
                    <div class="text-sm text-stone-500">Rising Star</div>
                  </div>
                </div>
                <div
                  class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full"
                >
                  <div
                    class="flex flex-col grow pb-3 leading-[150%] max-md:mt-7"
                  >
                    <img
                      loading="lazy"
                      src="/images/featuredPost.png"
                      class="self-center aspect-[0.75] w-[213px]"
                    />
                    <div class="mt-3 text-base font-medium text-stone-900">
                      Jackson Brittons
                    </div>
                    <div class="text-sm text-stone-500">Innovative Artist</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
