
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<header>
    <nav class="navbar-container">
        <a href="#" >
            <div class="logo">
                <img src="/icons/logo.svg" alt="img"><h3>Mingle</h3>
            </div>
        </a>
        <!--search-->
        
        <div class="search">
            <img src="/icons/search-ico.svg" alt="img">
            <input type="text" placeholder="Search">
        </div>
        <!--navlist-->
        <div class="nav-options">
            
            <a href="#"class="search-icon">
                <img src="icons/search-ico.svg">
            </a>
        
            <ul>    
                <li>
                    <a href="#"><img src="/icons/explore-ico.svg" alt="img"></a>
                </li>
                <li>
                    <a href="#"><img src="/icons/heart-ico.svg"alt="img"></a>
                </li>
                <li>
                    <a href="#"><img src="/icons/comment-ico.svg" alt="img"></a>
                </li>
                <li>
                    <a href="#"><img src="/icons/save-ico.svg" alt="img"></a>
                </li>
                
            </ul>
            <!--profile div-->
            <a href="#"class="user">
                <div ><i class="fa-solid fa-user"></i></div>
            </a>
        </div>
        
    </nav>

    
</header>
<body>
    <!--main-->
    <main class="main">
        <div class="main-section">
            <h1>Home</h1>
            <!--text post area-->
            <div class="post-text-div">
                
                <div class="post-text-section">
                    <a href="#"><div class="user2"><i class="fa-solid fa-user "></i></div></a>
                    <textarea id="post-text_id" placeholder="Whats's on your mind" rows="2" cols="58"></textarea>
                </div>
                
                <div class="post-text-options">
                    <button><img src="/icons/gallery-ico.svg"></button>
                    <button><img src="/icons/gif-ico.svg"></button>
                    <button><img src="/icons/bold-ico.svg"></button>
                    <button><img src="/icons/emoji-ico.svg"></button>
                    <button><img src="/icons/italics-ico.svg"></button>  
                </div>
            </div>
            <!--post feed-->
            <div class="post-feed">
                <!--post-head-->
                <div class="post-feed-head">
                    <a class="user1" href="#"><img src="/icons/profile1.jpeg"></a>
                    <div class="feed-profile">
                        <a href="#"><h3>Caroline</h3></a>
                        <p>2h ago</p>
                    </div> 
                    <div class="see-more"><img src="/icons/see_more-ico.svg" alt="img" ></div>
                </div>
                <!--main post-->
                <div class="post-feed-main">
                    <p>Exam season!!</p>
                    <img src="/images/user-images/post6.jpg">
                </div>
                <!--post footer-->
                <div class="post-feed-foot">
                    <button><img src="/icons/heart-post-ico.svg"></button>
                    <button><img src="/icons/comment-post-ico.svg"></button>
                    <button><img src="/icons/share-ico.svg"></button>  
                </div>
            </div>
            <!--post feed-->
            <div class="post-feed">
                <!--post-head-->
                <div class="post-feed-head">
                    <a class="user1" href="#"><img src="/icons/profile2.jpeg"></a>
                    <div class="feed-profile">
                        <a href="#"><h3>Megan</h3></a>
                        <p>2h ago</p>
                    </div> 
                    <div class="see-more"><img src="/icons/see_more-ico.svg" alt="img" ></div>
                </div>
                <!--main post-->
                <div class="post-feed-main">
                    <p>Another name of therapy: Books</p>
                    <img src="/images/user-images/post5.jpg">
                </div>
                <!--post footer-->
                <div class="post-feed-foot">
                    <button><img src="/icons/heart-post-ico.svg"></button>
                    <button><img src="/icons/comment-post-ico.svg"></button>
                    <button><img src="/icons/share-ico.svg"></button>  
                </div>
            </div>
        </div>
    </main>
</body>
</html>
