<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FRONT-PAGE</title>
   <link rel="stylesheet" href="/css/user/frontPage.css">
</head>
<body>
   <div class="nav">
          <!--logo-->
                <a href="#">
                    <div class="logo">
                    <img class="ico" src="/icons/logo.svg" />
                    <h2>Mingle</h2>
                    </div>
                </a>
             <div class ="search-bar">
                   <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                     <form class="d-flex" role="search">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Post</button>
                     </form>
                  </div>
             </nav>
          </div>
       </div>
       <hr>
<br>
    <div class="abc">
   <div class = "side-bar">
           <button type="button">Home</button><br><br>
           <button type="button">Explore</button><br><br>
           <button type="button">Create</button><br><br>
           <button type="button">Message</button><br><br>
           <button type="button">Notification</button><br><br><br>
           
   </div>

   <div class ="middle-side">
      <div class="rectangal">
          <img src="/images/user-images/front/img.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img2.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img3.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img4.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img5.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img6.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img7.jpg">
      </div>
      <div class ="rectangal">
          <img src="/images/user-images/front/img8.jpg">
      </div>
   
</div>
</div>



<div class = "down-bar">
   <div class ="profile-bar">
       <img src="/images/user-images/front/img9.jpg"></div>
         <div class ="rice">
            lia disuza
            <br>
            5m ago
         </div>

</div>
        
   
<div class="post">
       <div class ="para">
            <p>Though we travel the world over to find the beautiful, we must carry it with us or we find it not. Ralph Waldo Emerson</p>
         </div>
          <img src="/images/user-images/front/img12.jpg">
          <div class ="icon">
              <img src="/images/user-images/front/like.jpg">
              <img src="/images/user-images/front/message2.jpg">
              <img src="/images/user-images/front/save.jpg">
              <img src="/images/user-images/front/share2.jpg">
          </div>
</div>



<div class = "down-bar">
   <div class ="profile-bar">
       <img src="/images/user-images/front/img14.jpg"></div>
         <div class ="rice">
            lia disuza
            <br>
            5m ago
         </div>

</div>
        
   
<div class="post">
       <div class ="para">
            <p>Though we travel the world over to find the beautiful, we must carry it with us or we find it not. Ralph Waldo Emerson</p>
         </div>
          <img src="/images/user-images/front/img13.jpg">
          <div class ="icon">
              <img src="/images/user-images/front/like.jpg">
              <img src="/images/user-images/front/message2.jpg">
              <img src="/images/user-images/front/save.jpg">
              <img src="/images/user-images/front/share2.jpg">
          </div>
</div>










</body>
</html>