<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Social circle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/front_page.css" />
        <script src="https://unpkg.com/feather-icons"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"
        />
        <script
           src="https://kit.fontawesome.com/5b938571dd.js"
           crossorigin="anonymous"
           ></script>

    </head>
    <body>
    
    <div class ="sidebar">
      <div class="upper-container">
         <div class="link">
         <img
            src="/images/home.png" 
            style="height: 1rem; margin-right:0.5rem"/>
            <a href="#">Home</a>
       </div>
       <div class="link">
          <img
            src="/images/explore.png"
            style="height: 1rem; margin-right: 0.5rem"
          />
          <a href="#">Explore</a>
        </div>
        <div class="link">
          <img
            src="/images/create.png"
            style="height: 1rem; margin-right: 0.5rem"
          />
          <a href="#">Create</a>
        </div>
        <div class="link">
          <img
            src="/images/messenger.png"
            style="height: 1rem; margin-right: 0.5rem"
          />
          <a href="#">Messages</a>
        </div>
        <div class="link">
          <img
            src="/images/notification.png"
            style="height: 1rem; margin-right: 0.5rem"
          />
          <a href="#">Notification</a>
        </div>
      
    </div>
    <div class="bottom-container">
    <div class="link">
          <i class="fas fa-ellipsis-h"></i>
          <a href="#">More</a>
        </div>
    
    </div>
      </div>
      <div class ="main-container">
          <div class="story-post-container">
             <!--stoties-->
              <div class="stories-container">
                <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://wallpaperaccess.com/full/684096.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name1</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://media.buzzle.com/media/images-en/gallery/editorials/actresses/1200-82599453-jennifer-lawrence.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name2</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://4.bp.blogspot.com/-GEHWGZ52zRs/UDMhnMCsOSI/AAAAAAAABmM/vqMQbnql5Rg/s1600/hollywood_stars_i_112-1280x800.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name3</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://tse3.mm.bing.net/th?id=OIP.Zx8r0mpr2zwpTLv4BqKVSwHaJC&pid=Api&P=0&h=180"
                     alt="Profile Picture"
                  />
                </div>
                <p>name4</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://static.readerscave.com/2017/01/Sexiest-And-Hottest-Hollywood-Actress-2.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name5</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://www.tuxboard.com/photos/2019/04/internet_has_chosen_the_most_beautiful_hollywood_actresses_of_all_time_640_high_04.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name5</p>
              </div>
              <div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://wonderwall.com/wp-content/uploads/sites/2/2019/07/1059352-premiere-of-sony-pictures-once-upon-a-time-in-hollywood-.jpg?x=533&y=800&icq=74&sig=4eff19364113c4bbd52e55e70c5437d4"
                     alt="Profile Picture"
                  />
                </div>
                <p>name6</p>
              </div><div class="story">
                 <div class="gradient-border">
                  <img
                     src="https://1.bp.blogspot.com/-V83sqOsbpyM/XqGcS7QBagI/AAAAAAAASS4/Xe8b93doFo8mnIqgTvhLtSTqwYe3UwhigCLcBGAsYHQ/s1600/IMG_20200423_191137.jpg"
                     alt="Profile Picture"
                  />
                </div>
                <p>name7</p>
              </div>
            </div>
            <div class="posts-component">
                <div class="post">
                 <div class="post-header">
                  <div class="post-info-flex">
                   <img
                       src="https://4.bp.blogspot.com/-GEHWGZ52zRs/UDMhnMCsOSI/AAAAAAAABmM/vqMQbnql5Rg/s1600/hollywood_stars_i_112-1280x800.jpg"
                       alt="Profile Picture"
                       class="profile-pic"
                   />
                     <p>Willam shakespear</p>
                   <ul>
                     <li class="list-time">8 hrs</li>
                   </ul>
                </div>
                  <i class="fas fa-ellipsis-h"></i>
                </div>
                <img
            src="https://images.pexels.com/photos/5944199/pexels-photo-5944199.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="Post Image"
            class="post-img"
          />
          <div class="post-icons">
            <div class="post-icons-left">
              <i data-feather="heart" style="cursor: pointer;"></i>
              <i data-feather="message-circle"></i>
              <i data-feather="send"></i>
            </div>
            <i data-feather="bookmark"></i>
          </div>
          <p class="likes">100 likes</p>
          <p class="caption">@Username Caption goes here...</p>
          <a href="#" class="comments">View all comments</a>
        </div>
            
            
            
            </div>

             <!--posts-->
                       
                       
                       
              </div>
          <div style="width: 200px">people suggestion</div>
      </div>
       <script>
         feather.replace();
      </script>
    </body>
</html>