<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login - EchoSphere</title>
        <meta name="description" content="Login to CineSage to explore and watch movie trailers.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/user/login_new.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    </head>
    <body>
        
        <section class="left-container">
            <div class="left-container-contents">
                <img class="vector-white" src="/images/Vector_white.svg">
                <img class="vector-yellow" src="/images/Vector_yellow.svg">
                <img class="vector-blue" src="/images/Vector_blue.svg">
                <img class="vector-red" src="/images/Vector_red.svg">
            </div>
            <img class="logo" src="/images/file 3.svg">
        </section>  
        <section class="right-container">
            <div id="loginMessage" class="loginMessage"></div>
            <div class="align-container">
                <div class="heading">
                    <h3 class="h3">Let's inspire and learn from each other.</h3>
                    <h3 class="h3">Join our community now</h3>
                </div>
                
                <form class="login-form" onsubmit="loginUser(event)">
                    <div class="mb-3 input-container">
                        <input type="email" id="email" name="email" class="form-control input-box" aria-describedby="emailHelp" placeholder="Username/Email" required>
                    </div>
                    <div class="mb-3 input-container">
                        <input type="password" class="form-control input-box" id="password" name="password" placeholder="Password" required>
                    </div>
                    <a href="/user/forgotemail" class="forgot-pswd"><span>Forgot password?</span></a>
                    <br>
                    <button type="submit" class="btn btn-primary Login-btn">Login</button>
                </form>
                
                <span class="span">OR</span>
                
                <span class="span">Sign up using</span>
                
                <div class="signup-options">
                    <a href="/user/login/google"><img class="signup-ico" src="/icons/google.svg"></a>
                </div>
                <span class="span">OR</span>
                <a href="/user/Signup" class="span"><span>Sign up with email</span></a>
            </div>
        </section>
        
        <script src="/js/loginEmail.js"></script>
    </body>
</html>
