<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/user/login_new.css">
        <link rel="stylesheet" href="/css/user/signUp_new.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    </head>
    <body>
       
        
        <!--SIGN UP LEFT CONTAINER-->
            <section class="right-container SignUp-left">
                
                <div class="align-container">
                    <div class="heading">
                        <h1 class="h1">Create an account</h1>
                    </div>
                    <br>
                    <form class="login-form">
                        <!--first name-->
                        <div class="mb-3 input-container">
                        <label for="InputEmail1" class="form-label"></label>
                        <input type="email" class="form-control input-box" aria-describedby="emailHelp" placeholder="First Name">
                        
                        </div>
                        <!--last name-->
                        <div class="mb-3 input-container">
                            <label for="InputEmail1" class="form-label"></label>
                            <input type="email" class="form-control input-box" aria-describedby="emailHelp"placeholder="Last Name">
                        
                        </div>
                        <!--email-->
                        <div class="mb-3 input-container">
                            <label for="InputEmail1" class="form-label"></label>
                            <input type="email" class="form-control input-box" aria-describedby="emailHelp" placeholder="Email">
                        
                        </div>
                        <!--password-->
                        
                        <div class="mb-3 input-container">
                            <label for="exampleInputPassword1" class="form-label" ></label>
                            <input type="password" class="form-control input-box" placeholder="Password" >
                        </div>
                        <!--checkbox-->
                        <div class="form-check">
                            <input class="form-check-input checkbox" type="checkbox" value="" id="" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              By creating an account, I agree to our <a href="#" class="span1">Terms of use</a> and <a href="#" class="span1">Privacy Poilcy</a>
                            </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary Login-btn" >Create an account</button>
                    </form>
                    <br>
                    <a href="#" class="span"><span >login instead</span></a>
                </div>
            
        </section>
    <!--SIGN UP RIGHT CONTAINER-->
        <section class="left-container SignUp-right">
            <div class="left-container-contents">
                <img class="white" src="/images/Vector_white.svg">
                <img class="yellow" src="/images/Vector_yellow_signup.svg">
                <img class="blue" src="/images/Vector_blue_signup.svg">
                <img class="red" src="/images/Vector_red_signup.svg">
                
            </div>
            <img class="SignUp-logo" src="/images/file 3.svg">
        </section>
        
        <script src="" async defer></script>
        
    </body>
</html>