<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/user/user.css">
    </head>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav>
            <!--logo-->
            <a href="#">
               <div class="logo">
                   
                       <img src="/icons/logo.svg">
                       <h3>Mingle</h3>
                   
               </div>
           </a>
           <!--search-->
           <div class="search">
               <img src="/icons/search-ico.svg">
               <input type="search" placeholder="Search">
           </div>
           <!--nav options-->
           <div class="nav-options">
               <div class="search-mini">
                   <button><img src="/icons/search-ico.svg"></button>
               </div>
               <ul>
                   <li>
                       <a href="#">Home</a>
                   </li>
                   
                   <li>
                       <a href="#">Upload</a>
                   </li>
                   
                   <li>
                       <a href="#">Network</a>
                   </li>
   
                   <li>
                       <a href="#">Chat</a>
                   </li>
   
                   <li>
                       <a href="#">Setting</a>
                   </li>
                   
               </ul>    
               <a href="#">
                   <div class="user"><i class="fa-solid fa-user"></i></div>
               </a>
           </div>       
       </nav>
       
    <body>
        <main class="main-section">
            <div class="hero-section">
                <section class="profile-section">
                    <div class="profile-bg">
                        <div class="user-profile-name">
                            <div class="profile-img-container">
                                <img class="profile-img" src="/icons/profile1.jpeg">
                            </div>
                             <p>Alice Victoria</p>
                        </div>
                        <div class="bg-bottom-cover"></div>
                    </div>
                    <div class="follow-count">
                        <a class="link1" href="#"><h3 class="h3">59,460</h3><p class="p">Followers</p></a>
                        <a class="link1" href="#"><h3 class="h3">469</h3><p class="p">Following</p></a>
                    </div>
                    <div class="follow">
                        <button class="follow-button">Follow</button>
                        <a class="link" href="#">...More</a>
                    </div>
                </section>
                <section class="chats-section">
                        <!--chat 1-->
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/profile1.jpeg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Tim He</h4>
                                <p class="chat-message">Hey Tim,thank you for the message</p>
                            </div>
                        </div>
                        
                        <!--chat 2-->
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/chat-profile2-ico.svg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Carol Lei</h4>
                                <p class="chat-message">Hey Helen,it's nice to meet you</p>
                            </div>
                        </div>
                        <!--chat 3-->
                        <div class="chat" role="button">
                            <div class="chat-prof" role="button">
                                <img class="chat-prof-img" src="/icons/chat-profile3-ico.svg">
    
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Christina Chen</h4>
                                <p class="chat-message">I saw your article, it is really interesting</p>
                            </div>
                        </div>
                        <!--chat 4-->
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/chat-profile4-ico.svg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Carl Barenbrug</h4>
                                <p class="chat-message">Is the job SF based or remote?</p>
                            </div>
                        </div>
                        <!--chat 5-->
                    
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/chat-profile5-ico.svg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Gavriel Sharabi</h4>
                                <p class="chat-message">Hey,how can I help?</p>
                            </div>
                        </div>
                    
                        <!--chat 6-->
                        
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/chat-profile6-ico.svg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Jesse Vermeulen</h4>
                                <p class="chat-message">This is really good</p>
                            </div>
                        </div>
                        
                        <!--chat 7-->
                        
                        <div class="chat" role="button">
                            <div class="chat-prof">
                                <img class="chat-prof-img" src="/icons/chat-profile7-ico.svg">
                            </div>
                            <div class="chat-name">
                                <h4 class="chat-profile-name">Praveen Soni</h4>
                                <p class="chat-message">I'm interested on the job you posted</p>
                            </div>
                        </div>    
                </section>
            </div>
            <section class="user-post-section">
                <div class="user-post1">
                    <!--post 1-->
                    <div class="post">
                        <img class="post-img" src="images/user-images/post 5-user.svg">
                    </div>
                    <!--post 2-->
                    <div class="post">
                        <img class="post-img" src="images/user-images/post-2.jpeg">
                    </div>
                    <!--post 3-->
                    <div class="post">
                        <img class="post-img" src="images/user-images/post-3.jpeg">
                    </div>
                     <!--post 4-->
                     <div class="post">
                        <img class="post-img" src="images/user-images/pf-pic.jpg">
                    </div>
                </div>
                <div class="user-post1">
                    <!--post 5-->
                    <div class="post">
                        <img class="post-img" src="images/user-images/post-5.jpeg">
                    </div>
                     <!--post 6-->
                     <div class="post">
                        <img class="post-img" src="images/user-images/post-6.jpeg">
                    </div>
                     <!--post 7-->
                     <div class="post">
                        <img class="post-img" src="images/user-images/post-7.jpeg">
                    </div>
                     <!--post 8-->
                     <div class="post">
                        <img class="post-img" src="images/user-images/post-8.jpeg">
                    </div>
                
                </div>
            </section>
        </main>           
    </body>
</html>