<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    
    <link rel="stylesheet" href="/css/user/page3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap"
    />
  </head>
  <body>
    <div class="depth-0-frame-0">
      <header class="depth-2-frame-0">
        <div class="depth-3-frame-0">
          <div class="depth-4-frame-0">
            <div class="depth-5-frame-0">
              <div class="depth-6-frame-0">
                <a href="#">
                  <img
                    class="vector-0"
                    loading="lazy"
                    alt=""
                    src="./public/vector--0.svg"
                  />
                </a>
                <div class="depth-7-frame-0"></div>
              </div>
            </div>
            <div class="depth-5-frame-1">
              <div class="depth-6-frame-01">
                <a href="#" class="chat">Chat</a>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-1">
            <div class="depth-5-frame-01">
              <div class="depth-6-frame-02">
                <a href="#">
                  <img class="vector-01" alt="" src="./public/vector--0-1.svg" />
                </a>
                <div class="depth-7-frame-01"></div>
              </div>
            </div>
            <input class="depth-5-frame-11" placeholder="Search" type="text" />
          </div>
        </div>
        <div class="depth-3-frame-1">
          <div class="depth-4-frame-01">
            <div class="depth-5-frame-02">
              <div class="depth-6-frame-03">
                <div class="depth-7-frame-02">
                  <a href="#">
                    <img
                      class="vector-02"
                      alt=""
                      src="./public/vector--0-2.svg"
                    />
                  </a>
                  <div class="depth-8-frame-0"></div>
                </div>
              </div>
            </div>
            <div class="depth-5-frame-12">
              <div class="depth-6-frame-04">
                <div class="depth-7-frame-03">
                  <a href="#">
                    <img
                      class="vector-03"
                      alt=""
                      src="./public/vector--0-3.svg"
                    />
                  </a>
                  <div class="depth-8-frame-01"></div>
                </div>
              </div>
            </div>
            <div class="depth-5-frame-2">
              <div class="depth-6-frame-05">
                <div class="depth-7-frame-04">
                  <a href="#">
                    <img
                      class="vector-04"
                      alt=""
                      src="./public/vector--0-4.svg"
                    />
                  </a>
                  <div class="depth-8-frame-02"></div>
                </div>
              </div>
            </div>
          </div>
          <img
            class="depth-4-frame-11"
            loading="lazy"
            alt=""
            src="./public/depth-4-frame-1@2x.png"
          />
        </div>
      </header>
      <main class="depth-0-frame-0-inner">
        <section class="depth-4-frame-0-parent">
          <div class="depth-4-frame-02">
            <div class="depth-5-frame-03">
              <div class="depth-6-frame-06">
                <div class="depth-7-frame-05">
                  <a href="#">
                    <img
                      class="vector-05"
                      alt=""
                      src="./public/vector--0-1.svg"
                    />
                  </a>
                  <div class="depth-8-frame-03"></div>
                </div>
              </div>
              <input class="depth-6-frame-1" placeholder="Search" type="text" />
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="depth-5-frame-0-parent">
              <div class="depth-5-frame-04">
                <a href="#">
                  <img
                    class="depth-6-frame-07"
                    loading="lazy"
                    alt=""
                    src="./public/depth-6-frame-0@2x.png"
                  />
                </a>
                <div class="depth-6-frame-2">
                  <div class="depth-7-frame-06">
                    <div class="depth-8-frame-04">
                      <div class="tim-he">Tim He</div>
                    </div>
                  </div>
                  <div class="depth-7-frame-1">
                    <div class="depth-8-frame-05">
                      <div class="hey-tim-thank">
                        Hey Tim, thank you for the message
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="just-now-wrapper">
                <div class="just-now">Just now</div>
              </div>
            </div>
          </div>
          <div class="frame-container">
            <div class="frame-parent">
              <div class="depth-5-frame-0-group">
                <div class="depth-5-frame-05">
                  <a href="#">
                    <img
                      class="depth-6-frame-08"
                      alt=""
                      src="./public/depth-6-frame-0-1@2x.png"
                    />
                  </a>
                  <div class="depth-6-frame-21">
                    <div class="depth-7-frame-07">
                      <div class="depth-8-frame-06">
                        <div class="carol-lei">Carol Lei</div>
                      </div>
                    </div>
                    <div class="depth-7-frame-11">
                      <div class="depth-8-frame-07">
                        <div class="hey-helen-its">
                          Hey Helen, it's nice to meet you!
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-wrapper">
                  <div class="m">1m</div>
                </div>
              </div>
              <div class="depth-5-frame-0-container">
                <div class="depth-5-frame-06">
                  <a href="#">
                    <img
                      class="depth-6-frame-09"
                      alt=""
                      src="./public/depth-6-frame-0-2@2x.png"
                    />
                  </a>
                  <div class="depth-6-frame-22">
                    <div class="depth-7-frame-08">
                      <div class="depth-8-frame-08">
                        <div class="christina-chen">Christina Chen</div>
                      </div>
                    </div>
                    <div class="depth-7-frame-12">
                      <div class="depth-8-frame-09">
                        <div class="i-saw-your">
                          I saw your article, it's really interesting
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-container">
                  <div class="m1">2m</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="frame-group">
              <div class="depth-5-frame-0-parent1">
                <div class="depth-5-frame-07">
                  <a href="#">
                    <img
                      class="depth-6-frame-010"
                      alt=""
                      src="./public/depth-6-frame-0-3@2x.png"
                    />
                  </a>
                  <div class="depth-6-frame-23">
                    <div class="depth-7-frame-09">
                      <div class="depth-8-frame-010">
                        <div class="carl-barenbrug">Carl Barenbrug</div>
                      </div>
                    </div>
                    <div class="depth-7-frame-13">
                      <div class="depth-8-frame-011">
                        <div class="is-the-job">
                          Is the job SF based or remote?
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-5-frame-08">
                  <a href="#">
                    <img
                      class="depth-6-frame-011"
                      alt=""
                      src="./public/depth-6-frame-0-4@2x.png"
                    />
                  </a>
                  <div class="depth-6-frame-24">
                    <div class="depth-7-frame-010">
                      <div class="depth-8-frame-012">
                        <div class="gavriel-sharabi">Gavriel Sharabi</div>
                      </div>
                    </div>
                    <div class="depth-7-frame-14">
                      <div class="depth-8-frame-013">
                        <div class="hey-there-we">
                          Hey there, we are excited to welcome you to the team.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-container1">
                  <div class="m2">3m</div>
                </div>
              </div>
              <div class="depth-5-frame-09">
                <a href="#">
                  <img
                    class="depth-6-frame-012"
                    alt=""
                    src="./public/depth-6-frame-0-5@2x.png"
                  />
                </a>
                <div class="depth-6-frame-25">
                  <div class="depth-7-frame-011">
                    <div class="depth-8-frame-014">
                      <div class="joseph-mckinney">Joseph McKinney</div>
                    </div>
                  </div>
                  <div class="depth-7-frame-15">
                    <div class="depth-8-frame-015">
                      <div class="i-would-love">
                        I would love to learn more about your work experience.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m-container2">
                <div class="m3">4m</div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
