@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:'Nunito sans',sans-serif;
}

/*navbar*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(18, 26, 33, 1);
    color: white;
    height:65px;
    width:100%;
    border-bottom: 1px solid white;
}
    .logo{
        display: flex;
        gap:8px;
        margin-right: 850px;
        font-family:'Nunito sans',sans-serif ;
        color:white;
    }

    /*nav options*/
    .nav-options{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        width:20%;
        height:40px;
        /*border: 1px solid white;*/
    }
        .nav-options ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            gap:8px;
            /*border:1px solid white;*/
            width:70%;
            height:inherit;
        }
        .nav-options ul li{
            background-color: rgba(36, 54, 71, 1);
            width: 40px;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.85rem;
        }
        
        .nav-options ul li:hover{
            background-color:rgb(74, 106, 136);
        }
        .search-mini{
            display:none;
            border: none;

        }
    .user{
        width:40px;
        height:40px;
        background-color:rgba(36, 54, 71, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .user i{
        color:white;
    }
    .user:hover{
        background-color:rgb(74, 106, 136)
    }
/*main */
main{
    height:100%;
    width:100%;
    display:flex;
    background-color: rgba(18, 26, 33, 1);
}
@mixin font-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
@mixin font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 91.2vh;
    transform: translate(-50%, 0);
}
.container {
    position: relative;
    top: 50%;
    left: 100%;
    width: 100%;
    height: 90vh;
    background-color: rgba(18, 26, 33, 1);
    transform: translate(-50%, -50%);

    .left {
        float: left;
        width: 30%;
        height: 100%;
        background-color: rgba(18, 26, 33, 1);
        overflow-y: scroll;
        overflow-x: hidden ;
        
        .top {
            position: relative;
            width: 100%;
            height: 90px;
            align-content: center;
            
          
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: var(--light);
                transform: translate(-50%, 0);
            }
        }
        input {
            float: left;
            width: 330px;
            margin-left: 20px;
            height: 42px;
            padding: 0 15px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: rgba(18, 26, 33, 1);
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .people {
            margin-left: -1px;
            width: calc(100% + 2px);
            .person {
                position: relative;
                width: 100%;
                padding: 12px 10% 16px;
                cursor: pointer;
                background-color: rgba(18, 26, 33, 1);
                
                img {
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 12px;
                    border-radius: 50%;
																				object-fit: cover;
                }
                .name {
                    font-size: 14px;
                    line-height: 22px;
                    color: white
                }
                .time {
                    font-size: 14px;
                    position: absolute;
                    top: 16px;
                    right: 10%;
                    padding: 0 0 5px 5px;
                    color: var(--grey);
                    
                }
                .preview {
                    font-size: 14px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: grey
                }
                &.active,&:hover {
                    margin-top: -1px;
                    margin-left: -1px;
                    padding-top: 13px;
                    border: 1px solid white;
                    border-radius: 5rem;
                    background-color: rgba(36, 54, 71, 1);
                    
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .right {
        position: relative;
        float: left;
        width: 70%;
        height: 100%;
        .top {
            display: flex;
            width: 100%;
            height: 50px;
            padding: 1px 30px;
            .name {
                color: white;
                margin-left: 15px;
                align-content: center;
                font-size: medium;
                }
            .image {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            
            }
        }
        .chat {
            position: relative;
            display: none;
            overflow: hidden;
            padding: 0 35px 92px;
            border-width: 0px 0px 0px 0;
            border-style: solid;
            border-color: var(--light);
            height: calc(100% - 48px);
            justify-content: flex-end;
            flex-direction: column;
            &.active-chat {
                display: block;
                .bubble {
                    transition-timing-function: cubic-bezier(.4,-.04, 1, 1);
                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            animation-duration: .15s * $i;
                        }
                    }
                }
            }
        }
        .write {
            position: absolute;
            bottom: 15px;
            left: 30px;
            height: 42px;
            padding-left: 8px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            width: calc(100% - 58px);
            border-radius: 20px;
            input {
                font-size: 16px;
                float: left;
                width: 85%;
                height: 40px;
                padding: 0 10px;
                color: var(--dark);
                border: 0;
                outline: none;
                background-color: #eceff1;
                @include font;
            }
            .write-link {
                &.attach {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.smiley {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                &.send {
                    &:before {
                        display: inline-block;
                        float: left;
                        width: 20px;
                        height: 42px;
                        margin-left: 11px;
                        content: '';
                        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        .bubble {
            font-size: 16px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 13px 14px;
            vertical-align: top;
            border-radius: 5px;
            &:before {
                position: absolute;
                top: 19px;
                display: block;
                width: 8px;
                height: 6px;
                content: '\00a0';
                transform: rotate(29deg) skew(-35deg);
            }
            &.you {
                float: left;
                color: var(--white);
                background-color: var(--blue);
                align-self: flex-start;
                animation-name: slideFromLeft;
                &:before {
                    left: -3px;
                    background-color: var(--blue);
                }
            }
            &.me {
                float: right;
                color: var(--dark);
                background-color: #eceff1;
                align-self: flex-end;
                animation-name: slideFromRight;
                &:before {
                    right: -3px;
                    background-color: #eceff1;
                }
            }
        }
        .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
            color: var(--grey);
            
        }
    }
}

.right.blank {
    /* Styles for a blank right section */
    background-color: rgba(18, 26, 33, 1);
    display: none;
  }

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}