                               /*background*/ 

*{
    background-color:rgba(18, 26, 33, 1);
}

                                /*top-bar*/
.nav{
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 30px;
}
.logo{
    display: flex;
    gap:8px;
    font-family:'Nunito sans',sans-serif ;
    color:white;
    height: 20px;
}
.logo p{
    margin-top:5px;
     font-size: 15px;
}

.search-bar{
    align-items: flex-end;
     color: white;
    
}
.search-bar  button{
    color: white;
    background-color: blue;
    border-radius: 10px;
    width:40px;
   
}

                               /*side bar*/



.side-bar button{
    color: white;
    width: 205px;
    
    border-radius: 0%;
    border: none;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
    border: none;
    background-color: transparent;
      
}


.abc{
    display: flex;
    
}


button:hover{    
    color: white;
        border-radius: 10px;
    background-color:gray;
    opacity: .8;
}


                                  /*middle bar*/

.middle-side{
    display:flex;
    align-content: center;
    height: 150px;
    
}

.rectangal{
  height: 150px;
  width: 100px;
  background-color: #2f10bc;
  border-radius: 20px;
  margin-right:8px;
}
.rectangal img{
    border-radius: 10px;
    height: 150px;
    width: 100px;
}


.down-bar{
    display: flex;
    margin-left: 235px;
    
}

.profile-bar img{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    display: flex;
   margin-top: 10px;
    
}

.rice{
    color: aliceblue;
    font-size: 10px;
    text-align: center;
    align-content: center;
    margin-left: 5px;
    margin-top: 8px;
}

.para{
    color: aliceblue;
    font-size: 15px;
    display: flex;
    margin-left: 235px;
    
    
}

.post img{
    margin-left: 235px;
    height:500px;
    width: 900px;
}

.icon button{
    color: white;
    height: 20px;
    width: 40px;
    border-radius: 30px;
    margin-left: 240PX;
    display: inline;
    border: none;
    background-color: transparent;

}
  


