*{
    margin: 0;
    padding: 0;
    
}

.nav-bar{
    color: black;
    width: 100%;
    padding: 0;
    height: 45px;
    border-bottom: 1.5px solid rgba(107, 163, 173, 1);
    
}

.logo {
    height: 100%;
    width: 120px;
    display: flex;
    gap: 15px;
    font-family: 'Plus Jakarta Sans';
    color: rgba(36, 54, 71, 1);
    margin-left: 20px;
  }

.icon{
    color: rgba(36, 54, 71, 1);
    height: 20px;
    align-self: center;
    
}

/*---searc Box ----*/
.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    width: 350px;
    height: 22px;
    padding: 6px;
    margin-left: 50px;
    border: none;
    font-size: 14px;
    border-radius: 2rem;
    background-color: lightgray;
}


.search-box button {
    padding: 6px 10px;
    background: white;
    color: rgba(36, 54, 71, 1);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.search-box button i {
    font-size: 18px;
}

.search-box button:hover {
    background:rgba(36, 54, 71, 1);
    color: white;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.content h1 {
    color: rgba(36, 54, 71, 1);
}

/* ----xxx---- */

.options{
    display: flex;
    width: 250px;
    align-items: center;
    align-content: space-between;
}

.bi {
    color: rgba(36, 54, 71, 1);
  }

.profile{
    width: 150px;
    .user{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}


.main{
    width: 100%;
    height:93.5vh;
    display: flex;
    
}

.left-side{
    height: 100%;
    width: 30%;
    display: flex;
    .left-up-profile{
        width: 90%;
        height: 100%;
        background-color: lightgray;
        border-radius: 1rem;
        margin-top: 10px;
        margin-left: 15px;
        text-align: center;
        .coverimg{
            width: 90%;
            height: 30%;
            border-radius: 20px;
            margin-top: 4%;
        }
        .usercover {
            position: relative;
            width: 80px;
            height: 80px;
            border: 3.5px solid lightgray;
            border-radius: 50%;
            margin: -35px auto;
          }
        
    }
}

.mid {
    width: 510px;
    height: 800px;
    background-color: lightgray;
    
    border-radius:1rem;
}

.right{
    width:360px;
    height: 300px;
    background-color: lightgray;
    border-radius:2rem;
    
}

.dowm-right{
    width:360px;
    height: 300px;
    background-color: lightgray;
    border-radius:2rem;
}

.right p{
    font-weight: 700;
    font-size:25px;
    color:rgba(36, 54, 71, 1);
    margin-left: 30px;
}

.button-1 button{
    margin-left: 30px;
    margin-top: 20px;
    width: 300px;
    height:50px;
    color:rgba(36, 54, 71, 1);
    border-radius: 1rem;
    border: none;
    font-weight: 700;
    font-size:20px;
}
.img img{
    width: 245px;
    height: 200px;
   display: inline;
   margin-top: 20px;
    
}

.nature img{
    width: 245px;
    height: 200px;
    margin-top: 5px;
    
    
    
}
.margin{
    margin-left: 5px;
}
.mid p{
    align-content: center;
    color:rgba(36, 54, 71, 1);
}
.mid h3{
    display: flex;
    justify-content: center;
    
}

.right img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display:flex;
    margin-bottom: 5px;
}