
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    color:rgba(36, 54, 71, 1);
    font-family: 'Poppins',sans-serif;
}
html, body{
    overflow:hidden;
}
.nav-logo{
    width:10%;
    padding-left:3%;
    gap:2%;
    display:flex;
}
.nav-container{
    width:100%;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10%;
    height:50px;
    border-bottom:1px solid rgba(107, 163, 173, 1);
}
.search-bar{
    display:flex;
    width:30%;
    background: rgba(63, 114, 123, 0.5);
    border-radius: 100px;
    gap:10px;
    padding:5px;
}
.search-ico{
    background-color: rgba(63, 114, 123, 0);
    outline:none;
    border:none;
    padding-left:5px;
    padding-top:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.search-input{
    background-color: rgba(63, 114, 123, 0);
    outline:none;
    border:none;
    

}
.search-bar .search-input::placeholder{
    color:rgba(255, 255, 255, 1);
}
.navbar-links{
    display:flex;
    width:15%;
    align-items: center;
    justify-content: space-around;

}
.navbar-links .nav-ico{
    width:20px;
    height:20px;
    display: flex;
    align-items: center;
}
.nav-ico-img{
    width:17px;
    height:17px;
}
.nav-profile{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.user{
    width:40px;
    height:40px;
    overflow: hidden;
    border-radius:50%;
    border: solid lightgray;
}
.user-img{
    height:inherit;
    width:inherit;
    object-position: center;
}

.user-logout{
    text-decoration: none;
    font-size: 14px;
}


/*MAIN SECTION*/
.main{
    display:flex;
    width:100%;
    justify-content: space-between;
    gap:1%;

}
    /*PROFILE*/
    .left-sec{
        /*background-color:rgba(217, 217, 217, 1);*/
        margin-left:1%;
        margin-top:1%;
        display:flex;
        flex-direction:column;
        align-items: center;
        
        width:30%;
        height:85vh;
        border-radius:30px;

    }
        .left-sec-profile{
            background-color:rgba(217, 217, 217, 1);
            width:100%;
            height:100%;
            border-radius: 30px;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-evenly;
            padding:3%;
            gap:1%;
        }
        .profile-bg{
            display:flex;
            flex-direction:column;
            align-items: center;

            height:45%;

        }
        .profile-bg-container{
            width:100%;
            height:100%;
            overflow:hidden;
        
            border-radius:2rem;
            
        }
        .profile-bg-img{
            height:100%;
            width:100%;
            object-fit:cover;
            object-position:center ;
        }
        .user-img-container{
            position: absolute;
            height:100px;
            width:100px;
            border-radius:50%;
            overflow: hidden;
            border: 5px solid lightgray; 
            top:40%;
        }
        .user-img{
            height:inherit;
            width:inherit;
            object-fit: cover;
            object-position: center;
        }
        .user-name{
            margin-top:15%;
        }
        .user-name .h6{
            font-weight:800;
            font-size: 15px;
        }
        .followings-div{
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            width:100%;
            text-align: center;
        }
        .followings-div .follow-count .h6{
            font-weight:800;
            font-size: 15px;
        }
        .bio{
            display:flex;
            flex-direction: column;
            text-align: center;
        }


        .More-options-left{
            display:none;
        }
    /*MIDDLE SECTION*/
    .middle-sec{
        padding:1%;
        background-color:rgba(217, 217, 217, 1);
        margin-top:1%;
        width:47%;
        height:90vh;
        border-radius:30px;
        overflow-y: hidden;
        
    }
    .post-heading-container{
        position:sticky;
    }
    .blue-bar{
        height:2px;
        background-color:rgba(36, 54, 71, 1);
        width:30%;
        position:absolute;
        left:35%;
    }
    .middle-sec .post-heading{
        width:100%;
        display:flex;
        gap:1%;
        align-items:flex-start;
        justify-content: center;
        
        /*border: 1px solid black;*/
    }


    .post-container{
        display:grid;
        gap:2%;
        grid-template-columns: repeat(2,1fr);
        margin-top: 5%;
    
        height:530px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    
    }

    .img-container{
        overflow:hidden;
        height:300px;
        width:100%;
        /*border: 1px solid black;*/
    }
    .post-img{
        object-fit: cover;
        object-position: center;
        height:inherit;
        width:inherit;
    }

    /*RIGHT CONTAINER*/
    .right-sec{
        display:flex;
        flex-direction:column;
        gap:2%;
        width:20%;
        height:90vh;
        border-radius:30px;
        margin-top:1%;
        margin-right:1%;
    }
    .right-sec .h6{
        font-weight: 800;
        margin-left:10%;
        font-size: 17px;
        margin-top:5%;

    }
        .right-sec .quick-chats{
            background-color:rgba(217, 217, 217, 1);
            height:430px;
            border-radius:30px;
    
        }

       .quick-chats .chats{
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:10%;
            overflow-y:scroll ;
            overflow-x:hidden;
            scrollbar-width: none;
            height:230px;
            padding:5%;
            margin-bottom:5%;
       }

       .chat-container{
            display:flex;
            
            align-items: center;
            width:100%;
            height:80px;
            gap:1%;
            
            
       }
            .chat-container .chat-profile-container{
                height:50px;
                width:70px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
                .profile-div{
                    height:50px;
                    width:50px;
                    overflow: hidden;
                    border-radius: 50%;
                }
                .profile-img{
                    object-fit: cover;
                    object-position: center;
                    height:50px;
                    width:50px;
                }
            .chat-container .messages{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            
                width:70%;
                height:100%;
            }
            .messages .profile-name{
                font-size: 15px;
                font-weight: 800;
                margin:0%;
             
            }
            .messages .chat-time{
                font-size:12px;
                font-weight:700;
                margin:0%;
            }



        .right-sec .edit-post{
            background-color:rgba(217, 217, 217, 1);
            height:500px;
            border-radius:30px;
            display:flex;
            flex-direction:column;
            justify-content: space-evenly;
            padding:5%;

        }
            .edit-post .more-options{
                display: flex;
                background: rgba(255, 255, 255, 0.6);
                height:20%;
                overflow: hidden;
                border-radius:15px;
                
                align-items: center;
                text-align: center;
                gap:15%;
                
            }
            .more-options-btn{
                width:100%;
                outline:none;
                border:none;
                display: flex;
                align-items: center;
                gap:15%;
                height:100%;
                font-weight:700;
            }
            .options-img{
                height:30px;
                width:30px;
                margin-left:15%;
            }

    .footer-edit-post{
        display:none;
    }

@media screen and (max-width:1084px) {

    .left-sec .profile-bg .user-img-container{
        top:37%;
    }
    .quick-chats .chats{
        height:200px;
        margin-bottom:2%;
    }

}
@media screen and (max-width:960px) {
    *{
        font-size:small;
    }
    .left-sec .profile-bg .user-img-container{
        top:40%;
    }
    .img-container{
        height:150px;
    }
    .edit-post .more-options{
        padding-right:5%;
    }
    .edit-post .more-options .options-img{
        height:25px;
        width:25px;
    }

    
   
}
@media screen and (max-width:800px) {
    *{
        font-size:small;
    }
    .nav-profile{
        width:25%;
    }

    .main{
        
        padding:1%;
    }
    .left-sec{
        width:40%;
        height:90vh;
        gap:3%;
    }
    .left-sec-profile{
        height:450px;
        padding:2%;
    }
    .left-sec .profile-bg .user-img-container{
        top:26%;
        height:80px;
        width:80px;
    }
    .user-name{
        margin-top: 20%;
    }
    .More-options-left{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        background-color:rgba(217, 217, 217, 1);
        height:80px;
        width:100%;
        border-radius: 20px;
        
    }

    .More-options-left .btn{
        width:50px;
        height:50px;
        padding:5%;
        background-color: rgba(255, 255, 255, 0.6);
        display: flex;
        text-align: center;
        border-radius: 1.5rem;
    }
    .middle-sec{
        width: 55%;
        margin-left:2%;
        height:90vh;
        padding:2%;
    }
    .middle-sec .post-container{
        height:510px;
    }
    .middle-sec .img-container{
        height:160px;
    }
    

   

    .right-sec{
        display: none;
    }    
  
   
}
@media screen and (max-width:600px) {
    html,body{
        overflow-y:auto;
    }
    .search-bar{
        width:20%;
    }
    .nav-profile{
        width:28%;
    }
    .main{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap:5%;
    }
    .left-sec{
        width:95%;
        height:500px;
    }
    .left-sec .left-sec-profile{
        height:100%;
        padding:1%;
        margin:0;
        gap:0%;
    }
    .left-sec-profile .profile-bg .user-img-container{
        top:33%;
        height:100px;
        width:100px;
    }
    .user-name{
        margin-top: 10%;
    }
    .profile-bg{
        width:95%;
        margin:1%;
    }
    .More-options-left{
        display:none;
    }
    .middle-sec{
        width:95%;
    }
    .middle-sec .img-container{
        height:230px;
    }

    .right-sec{
        display:none;
    }
    .footer-edit-post{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        
        width:100vw;
        height:8vh;
        top:92%;
        /*border-top-left-radius:1rem;
        border-top-right-radius: 1rem;*/
        position:fixed;
        z-index:1;
        background-color: rgb(176, 199, 203);
    }
    .footer-edit-post .btn1{
        height:40px;
        width:40px;
    
        border-radius: 1rem;
        background-color: rgb(244, 241, 241);
        /*background-color: transparent;*/
        outline:none;
        border:none;
        
    }

    .btn-img{
        height:25px;
        width:25px;

    }
}