
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Nunito sans',sans-serif;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width:100%;
    height: 65px;
    background-color: #121921;
    color:white;
    border:transparent;
    outline: none;
    border-bottom:2px solid white;
}
.logo{
    display: flex;
    gap:8px;
    font-family:'Nunito sans',sans-serif ;
    color:white;
    
}
.logo h3{
    font-family: 'Nunito sans',sans-serif;
}


.search{
    display:flex;
    align-items:center ;
    gap:10px;
    background-color: rgba(36, 54, 71, 1);
    height:40px;
    width:50%;
    border-radius: 0.85rem;
}
    .search img{
        padding-left:15px;
    }
    .search input{
        height: 24px;
        width:80%;
        background-color:rgba(36, 54, 71, 1);
        outline:none;
        border:none;
        color:aliceblue;
    }

    .search input::placeholder{
        color:rgb(128, 151, 170);
        font-size:17px;
    }
.nav-options{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    width:20%;
    height:40px;
    /*border: 1px solid white;*/
}
.search-icon{
    display:none;
    background-color: transparent;
}
.nav-options ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap:8px;
    /*border:1px solid white;*/
    width:70%;
    height:inherit;
}
.nav-options ul li{
    background-color: rgba(36, 54, 71, 1);
    width: 40px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.85rem;
}

.nav-options ul li:hover{
    background-color:rgb(74, 106, 136);
}
.user{
    width:40px;
    height:100%;
    background-color:rgba(36, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}
.user:hover{
    background-color:rgb(74, 106, 136)
}



/*main*/
.main{
    height:auto;
    width:100%;
    background-color:#121921;
}
.main h1{
    color:white;

}

.main-section{
    display:flex;
    flex-direction: column;
    /*border:1px solid white;*/
    align-items: flex-start;
    margin-left:15%;
    margin-right:15%;
    padding-top:5%;
    height:100%;
}

.post-text-div{
    display:flex;
    flex-direction: column;
    border:1px solid rgb(124, 154, 179);
    border-radius: 0.85rem;
    width:100%;
    margin-top:60px;
    height: 150px;
}
.post-text-section{
    display:flex;
    
    justify-content: flex-start;
    height:100px;
}
.user2{
    width:40px;
    height:40px;
    background-color:rgba(36, 54, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}
.post-text-section div{
    margin:15px;
}
.post-text-section textarea{
    resize:none;
    background-color: #121921;
    margin-top:25px;
    margin-bottom:20px;
    width:80%;
    outline:none;
    border:none;
    color:aliceblue;
}
.post-text-section textarea::placeholder{
    font-size: 17px;
    color:rgb(124, 154, 179);


}
.post-text-options{
    display:flex;
    /*border:1px solid white;*/
    justify-content: flex-end;
    margin-bottom:none;
    /*padding-left:30px;*/
}

.post-text-options button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    padding:10px;
    margin:0px 10px 0px 10px;
    background-color: #121921;
    border:none;
}
.post-text-options button:hover{
    background-color: rgb(65, 85, 102);
}

/*POST FEED*/
.post-feed{
    /*border:1px solid white;*/
    width:100%;
    margin-top:50px;
    display: flex;
    flex-direction: column;
}
.post-feed:hover{
    border:1px solid rgb(124, 154, 179);
    border-radius: 0.85rem;
}
    /*post feed head*/
        .post-feed-head{
            display:flex;
            /*border: 1px solid white;*/
            align-items:center;
            height:70px;
            padding:5px;
        }
        .feed-profile{
            display: flex;
            flex-direction: column;
            width:74%;
            /*border:1px solid white;*/
            color:white;  
            padding:0;  
        }
        .feed-profile h3{
            font-size: 20px;
            color:white;
        }
        .feed-profile p{
            font-size: 14px;
            font-weight: 100;
            color: lightgray;
        }
        .user1{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin:1%;

        }
        .user1 img{
            width: 56px;
            height:60px;
            border-radius: 50%;
        }

        .see-more{
            /*border:1px solid white;*/
            display:flex;
            height:20px;
            width:20px;
            align-items: center;
            justify-self: center;
            padding:1%;
            margin-left:15%;
            margin-right:1%;
        }
        .see-more:hover{
            background-color:rgb(65, 85, 102);
        }
    /*main feed post*/
        .post-feed-main{
            display:flex;
            flex-direction:column-reverse;
            align-items:center;
            justify-content: center;
            justify-self: center;
            align-self: center;
            /*border:1px solid white;*/
            height:500px;
            width:90%;
            color:white;
            padding-top:3%;
        }
        .post-feed-main img{
            width:80%;
            height:80%;
            margin-bottom:5%;
            
        }
    /*post footer*/    
        .post-feed-foot{
            /*border: 1px solid white;*/
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            height:56px;
        }
        .post-feed button{
            height:24px;
            width: 24px;
            display: flex;
            justify-content:center;
            align-items: center;
            background-color: #121921;
            outline: none;
            border:none;
        }
        .post-feed button:hover{
            background-color:rgb(65, 85, 102) ;
        }

@media screen and (max-width:1300px){
    .nav-options{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        width:30%;
        height:40px;
        /*border: 1px solid white;*/
    }
}

@media screen and (max-width:820px){
    nav{
        display:flex;
        justify-content: flex-start;
    }
    .logo{
        /*border: 1px solid white;*/
        display:flex;
        align-items: center;
        width:75px;
        height:24px;
    }
    .logo img{
        width:20%;
        height:100%;
    }
    .logo h3{
        font-size:90%;
    }
    .search{
        width:30%;
        /*border: 1px solid white;*/
    }
    .search input{

        width:70%;
        padding:0%;
    }
    .search img{
        width:15%;
        padding-left:2%;

    }
    
    .nav-options{
        width:40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-options ul{
        width:75%;
        height:80%;
    }
    .user{
        background-color: rgba(36, 54, 71, 1);
        width:35px;
        height:35px;

    }
    .user i{
        font-size: 12px;
    }
    

    .main{
        width: 100%;
        display:flex;
    }
    .main-section{
        width:80%;
    }
    .see-more{
        margin-left:5%;
        margin-right:0.5%;
    }

    .user1 img{
        height:45px;
        width:45px;
    }
    .feed-profile h3{
        color:white;
        font-size: 16px;
    }
    .feed-profile p{
        font-size: 12px;
        font-weight: 100;
        color:lightgray;
    }
    .post-feed{
        height: auto;
    }
    .post-feed-main{
        width:100%;
        height: 300px;
    }
}

@media screen and (max-width:450px){
    .logo{
        /*border: 1px solid white;*/
        display:flex;
        align-items: center;
        width:100%;
        height:24px;
        padding:0%;
        margin:0%;
    }
    .logo img{
        width:15%;
        height:100%;
    }
    .logo h3{
        font-size:70%;
    }
    .search{
        width:35%;
        height:40%;
    }
    .search input{
        height: 60%;
        width:60%;
        
    }
    .nav-options{
        width:40%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .nav-options ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        height:25px;
        width:25px;
    }
    .nav-options ul li img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10%;
        width:80%;
    }
    /*.main{
        width: 100%;
    }*/
    .user{
        height:25px;
        width:25px;
    }
    .main-section{
        width:80%;
        display: flex;
        align-items:flex-start ;
        margin-left:10%;
    }
    .post-feed{
        height:auto;
    }
    .post-feed-main{
        width:100%;
        height:300px;
        /*border: 1px solid white;*/
    }
    .post-feed-foot{
        /*
        border: 1px solid white;*/
        height:20px;
        padding:10px;
        
    }
    .see-more{
        margin-left:5%;
        margin-right:0.5%;
    }
    
}