@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* background-color: rgba(18, 26, 33, 1);  */
}

/*navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(18, 26, 33, 1); 
  color: white;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid white;
}
.logo {
  display: flex;
  margin-left: 50px;
  gap: 10px;
  font-size: large;
  font-family: "Nunito sans", sans-serif;
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  border: 1px solid #ccc;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/*nav options*/
.nav-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  height: 40px;

  /*border: 1px solid white;*/
}
.nav-options ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0px;
  /*border:1px solid white;*/
  width: 70%;
  height: inherit;
}
.nav-options ul li a {
  /*background-color: rgba(36, 54, 71, 1);*/
  color: white;
  font-size: 100%;
  width: 40px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.85rem;
}

.nav-options ul li a:hover {
  color: rgb(88, 121, 152);
}
.search-mini {
  display: none;
  border: none;
}
.user {
  width: 40px;
  height: 40px;
  background-color: rgba(36, 54, 71, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.user:hover {
  background-color: rgb(74, 106, 136);
}

/*main section*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(18, 26, 33, 1);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*ALERT NOTIFICATION*/
.alert-div{
  position:absolute;
  width:100%;
  height:100px;
  display:flex;
  justify-content: flex-end;
  
}
.alert{
  border:1px solid rgb(149, 212, 181);
  width:30%;
  margin:1%;
  z-index:1;
  /* display: flex; */
  text-align: center;
  justify-content:center;
  padding-top: 20px;
  background-color: hsla(163, 90%, 8%, 0.8);
  border-radius:0.6rem;
  font-size: medium;
  color:rgb(149, 212, 181);
}
#noti{
  padding-right: 20px;
  display: none;
}

.hero-section {
  display: flex;
  margin-top: 30px;
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  border: 1px solid rgb(144, 172, 211);
  margin-left: 30px;
  border-radius: 2rem;
}
.profile-img  {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: top;
  position: relative;
  background-size: contain;
  border-radius: 5px;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.cimage{
  /*background-image: url("/images/user-images/profile-bg.png"); */
  /*border:2px solid #f98a21;*/
  position:absolute;
  border-radius: 2rem;
  display:inline;
  width: 100%;
  height: 320px;
  margin-bottom: 80px;
  
}


.profile-img p {
  color: white;
  position: absolute;
  top: 90%;
  left: 10%;
  font-size: large;
}
.bg-cover-bottom {
  position: absolute;
  height: 20%;
  width: 100%;
  /*border:3px solid white;*/
  top: 65%;
  margin-top: 15px;
  background: rgba(18, 26, 33, 1);
}


.follow-count {
  display: flex;
  margin-left: 10%;
  gap: 5%;
  /*border:1px solid white;*/
}

.follows{
  margin-right: 5px ;
}

.follow-count a {
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
  padding-top: 2%;
}
.follow-count a p {
  font-size: smaller;
}
.follow-button {
  display: flex;
  align-items: center;
  margin-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  gap: 5%;
  height: 40px;
  /*border:1px solid white;*/
}
.follow-button button {
  width: 15%;
  height: 100%;
  font-family: "Inter";
  font-size: large;
  border-radius: 0.85rem;
}

.follow-button a {
  color: white;
}
.follow-button a:hover {
  color: rgb(71, 120, 173);
}
.chats {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: space-evenly;
  margin-left: 2%;

   /*border: 1px solid white;*/
}

.chat {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 3%;
  padding: 2%;
  /*border: 1px solid white;*/
}

.chat:hover {
  background-color: rgba(36, 54, 71, 1);
}
.chat-prof {
  height: 56px;
  width: 56px;
}
.chat-name h4 {
  font-size: 15px;
}
.chat-name p {
  font-size: 12px;
  color: rgba(148, 173, 199, 1);
}

.post__s {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(18, 26, 33, 1);
  align-items: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.user-post1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  margin: 1%;
  text-align: left;
}

.post {
  width: 310px; /* Maintain width for layout */
  border-radius: 1rem;
  overflow: hidden;
  margin: 1%;
}

.post-img {
  height: 310px;
  width: 310px;
  object-fit: cover;
  object-position: center;
}

/*post delete button*/
/* Styles for the post container */
.post {
  position: relative; /* Allows absolute positioning of child elements */
  width: fit-content; /* Adjust width as needed */
  height: 310px;
  margin: 10px; /* Add spacing between posts (optional) */
}

/* Styles for the image overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  border-radius: 1rem;
}

/* Styles for the overlay on hover */
.post:hover .overlay {
  background: rgba(0, 0, 0, .6); /* Adjust opacity for darkness as needed */
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-radius: 1rem;
  box-sizing: content-box;
}

/* Styles for the delete button */
.del-btn{
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translateY(-50%); /* Center the button vertically */
  opacity: 0;
  transition: opacity 0.35s ease;
  text-align: center;
  z-index: 1; /* Ensure button appears above other elements */
}

.btn-sty{
  
  border-radius: 0%;
  border:  rgba(18, 26, 33, 1);
  background-color: transparent;
  color:white;

}
/* Styles for the button content (text, border, etc.) */
.del-btn a {
  display: inline-block; /* Allow text wrapping within button */
  border: none;
  border-radius: 4px; /* Add rounded corners to the button */
  text-decoration: none; /* Remove underline from anchor text */
}

/* Show the button on hover */
.post:hover .del-btn {
  opacity: 1;
}



/*post delete button cover*/

/* Styles for the post container */



.overlay-1  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  border-radius: 2rem;
}


.profile-img:hover .overlay-1 {
  background: rgba(0, 0, 0, .6);
  border-radius: 2rem;
  border-top: 2px solid red;
  border-left: 2px solid red;
  box-sizing: content-box;
 
}


.del-cover-btn {
  position: absolute;
  top: 8%;
  left: 45%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.35s ease;
  text-align: center;
  z-index: 1; 
}


.del-cover-btn a {
  display: inline-block; 

  border-radius: 4px; 
  text-decoration: none; 
}


.profile-img:hover .del-cover-btn {
  opacity: 1;
}

.cover-btn-sty{
  border-radius: 0%;
  border:  rgba(18, 26, 33, 1);
  background-color: transparent;
  color:white;
}



@media screen and (max-width: 830px) {
  .nav-options {
    display: flex;

    justify-content: center;
    width: 75%;
    height: 40px;
    font-size: medium;
  }
  .logo {
    width: 100%;
    /*border: 1px solid white;*/
  }
  .logo h3 {
    font-size: 90%;
  }
  .logo img {
    width: 30%;
  }
  .search {
    display: none;
  }
  .search-mini {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;
    border-radius: 0.9rem;
  }
  .search-mini button {
    background: rgba(36, 54, 71, 1);
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 1rem;
  }
  .search-mini button:hover {
    background-color: rgb(55, 84, 112);
  }
  .search-mini button img {
    height: 15px;
    width: 15px;
  }
  .user {
    width: 40px;
    height: 40px;
  }
  .user i {
    font-size: 15px;
  }
  .hero-section {
    display: flex;
  }
  .chats {
    width: 30%;
  }
  .profile {
    width: 60%;
    margin-left: 5px;
  }
  .profile-img {
    width: 100%;
    height: 95%;
    background-image: url("/images/user-images/profile-bg.png");
    background-size: 100% 80%;
  }
  .bg-cover-bottom {
    width: 100%;
  }
  .profile-img img {
    left: 1%;
    top: 45%;
  }
  .follow-button {
    font-size: small;
  }
  .follow-button button {
    font-size: small;
  }
  .chat-name h4 {
    font-size: 12px;
  }
  .chat-name p {
    font-size: 10px;
  }
  .chat-prof img {
    height: 40px;
    width: 40px;
  }
  .follow-button button {
    font-size: 10px;
    width: 30%;
  }
  .user-post1{
    height:150px;
    
  }
  .post{
    height:100%;
    width:100%;
  }
}
@media screen and (max-width: 500px) {
  nav {
    width: 100%;
  }
  .nav-options {
    height: 30px;
    font-size: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .search-mini {
    width: 30px;
    height: 28px;
  }
  .search-mini button {
    width: 30px;
    height: 28px;
  }
  .search-mini button img {
    width: 14px;
    height: 14px;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }
  .user i {
    font-size: 10px;
  }
  .main {
    display: flex;
    align-items: center;
  }
  .chats {
    display: none;
  }
  main {
    display: flex;
    align-items: center;
  }
  .profile {
    width: 100%;
    height: 350px;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
  }
  .profile p {
    font-size: 13px;
  }
  .profile h3 {
    font-size: 15px;
  }
  .profile-img p {
    left: 13%;
  }
  .profile-img img {
    width: 30%;
    height: 30%;
    top: 55%;
    left: 7%;
  }
}

@media screen and (max-width: 380px) {
  .nav-options {
    height: 30px;
    font-size: 60%;
  }
  .search-mini {
    width: 30px;
    height: 28px;
  }
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #121a21;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-content {
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.popup button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.square {
  display: inline;
  height: 500px;
  width: 800px;
  background-color: white;
  justify-content: center;
  border-radius: 50px;
}

#myBtn{
  background-color: white;
}

#myButton {
  border: none;
  background: none;
  color: white;
  font-size: medium;
  cursor: pointer;
}
#myButton:hover{
  color: rgb(71, 120, 173);;
}
.upl {
  margin: 20px 0px 0px 60px;
  /* float: left; */
}

.drop-zone {

  max-width: 200px;
  height: 200px;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
  margin: 15px auto;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.te {
  display: block;
  color: #ffffff;
}


/* Button 1 */
.Btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-width: 2px;
  border-color: #6FA8DC;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.Btn:hover {
  transform: translateY(-10px);
  background-color: #6FA8DC;
}

.Btn::after {
  transform: translateY(0);
}


/* Button 1 */
.Btn-red {
  width: 150px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-width: 2px;
  border-color: #FF5858;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.Btn-red:hover {
  transform: translateY(-10px);
  background-color: #FF5858;
}

.Btn-red::after {
  transform: translateY(0);
}



.container {
  max-width: 300px;
  width: 100%;
  position: relative;
  margin-right: 200px;
  
}

.container .search-container {
  position: relative;
  height: 40px;
  max-width: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}

#toggle:checked ~ .search-container {
  max-width: 350px;
}

.search-container input {
  position: absolute;
  height: 100%;
  width: 99%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  text-align: center;
  font-size: 15px;
}

.search-container .search-icon {
  position: absolute;
  right: 0px;
  top: 0;
  width: 40px;
  background: #fff;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: rgba(18, 26, 33, 1);
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
}

#toggle:checked ~ .search-container .search-icon {
  background: rgba(18, 26, 33, 1);
  color: #fff;
  width: 40px;
  border-radius: 0 25px 25px 0;
}

#toggle {
  display: none;
}


#results-list {
  position:relative; /* Position the list below the search box */
  width: 90%;
  top: 100%; /* Start below the search box */
  left: 0;
  background-color:  rgba(18, 26, 33, 1); 
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: none; /* Initially hide the list */
  z-index: 1;
}

#results-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 1rem;
  cursor: pointer; /* Make results clickable */
}



#profileIcon{
  height: 5vh;
  border-radius: 20px;
}


.profile-user {
  display: flex;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  position:absolute;
  margin-right: 42rem;
  margin-top: 9rem;
}

.ico{
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: -20px;
}




.profile-container {
  height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.image-wrapper {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-wrapper .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.image-wrapper .overlay,
.image-wrapper .loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.image-wrapper .overlay {
  cursor: pointer;
}

.image-wrapper:hover .overlay,
.image-input:focus ~ .overlay {
  opacity: 1;
}

.image-wrapper.uploadInProgress .overlay {
  display: none;
}

.image-wrapper.uploadInProgress .loading {
  opacity: 1;
}



/* Snackbar css */
#notification {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

#notification.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.sug{
  text-align: center;
}

.mo{
  border-radius: 5px;
  border: #ffffff;
  color: rgba(0, 0, 0, 0.75);
  width: 45px;
  height: 16px;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 2px;
  
  
}

.bo{
  display: flex;
  gap: 10px;
  align-items: center;
}

mo:hover {
  color: #001F3F;
  background-color: #fff;
}

/* -- follower button pop up--- */

#popup-content {
  height: 400px;
  width: 400px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  rgba(18, 26, 33, 1); 
  padding: 20px;
  border: 1px solid black;
  border-radius: 2rem;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  color: grey;
  align-items: center;
}
.follower-text{
  margin: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.line{
  margin-left: -20px;
  margin-right: -20px;
}
#search-box{
  width: 100%;
  height: 35px;
  margin-top: 8px;
  border-radius: 1rem;
  margin-left: -2px;
  margin-right: -2px;
  
}
#search-results{
  margin: 5px;
  background-color:rgba(18, 26, 33, 1); 
  border-radius: 1rem;
  border: #ccc;
  border-width: 2px;
  display: block;
}

.tex input[type="text"] {
  padding-block: 4px;
  padding-inline: 4px; /* Or adjust as needed */
}

