@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@600&display=swap');

*{
	margin: 0;
	padding: 0;
}
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/images/van.jpg');
  background-size: cover;
  background-position: center center;
}

.intro-text{
	font-family: "Poppins", sans-serif;
	/* font-weight: 600; */
	text-align: center;
	color: white;
}
.buttonn{
	top:10%;
    background-color:rgba(18, 26, 33, 1);
    color: #ffffff;
    border-radius:30px;
	padding: 10px;
	width: 360px;
	margin-bottom: 2vh;
	
	text-align: center;
}

.ot-text{
	text-align: center;
}

.no-bor{
	padding: 0;
	border: 0;
	background: none;
	color: aliceblue;
}

.blu{
	background: rgba(18, 26, 33, 1);
}





