body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:lightgray;

}
.drag-area{
    border: 3px dashed black;
    height: 400px;
    width:300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
}
.drag-area .active{
    border:2px solid white;
}
.drag-area .icon{
    font-size: 100px;
    color:black ;
}

.drag-area header{
    font-size:30px;
    font-weight: 500;
    color: black;
}

.drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: black;
    margin:10px 0 15px 0;
}
.drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background:black;
    color:#fff;
    border-radius: 15px;
    cursor:pointer;
}
.drag-area button:hover{
    background-color: blueviolet;
}
.square{
    display: flex;
    height: 500px;;
    width:800px;
    background-color:white;
    justify-content: center;
    border-radius: 50px;
    
}

.flex-child{
    flex: 1;
}

.info-area{
    height: 400px;
    width:300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 80px;
}

.info-area {
    font-size: 30px;
    font-style:inherit;
    display: flex;
    height: 200px;
}

.info-area .img{
    font-size: 20px;
    margin-top: px;
    height: 50px;
    
}

.info-area button{
    padding: 2px 2px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    outline: none;
    background:black;
    color:#fff;
    border-radius: 15px;
    cursor:pointer;
}
.info-area button:hover{
    background-color: blueviolet;
}
.info-area .icon{
    height: 1px;
    width: 1px;
    padding-right: 50px;
}


.uplo{
    display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 20px;
}

.upo{
    padding: 0;
    margin-left: 45px;
}