@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:'Plus Jakarta Sans',sans-serif;
}

/*navbar*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(18, 26, 33, 1);
    color: white;
    height:65px;
    width:100%;
    border-bottom: 1px solid white;
}
    .logo{
        display: flex;
        gap:8px;
        font-family:'Nunito sans',sans-serif ;
        color:white;
    }
    /*search*/
    .search{
        display:flex;
        align-items:center ;
        gap:10px;
        background-color: rgba(217, 217, 217, 1);
        height:40px;
        width:40%;
        border-radius: 0.85rem;
    }
        .search img{
            padding-left:15px;
        

        }
        .search input{
            height: 24px;
            width:80%;
            background-color:rgba(217, 217, 217, 1);
            
            outline:none;
            border:none;
            color:aliceblue;
        }
    
        .search input::placeholder{
            color:rgba(18, 26, 33, 1);
            font-size:17px;
        }
    /*nav options*/
    .nav-options{
        display:flex;
        align-items:center;
        justify-content: space-evenly;
        width:45%;
        height:40px;
        
        /*border: 1px solid white;*/
    }
        .nav-options ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            gap:0px;
            /*border:1px solid white;*/
            width:70%;
            height:inherit;
        }
        .nav-options ul li a{
            /*background-color: rgba(36, 54, 71, 1);*/
            color:white;
            font-size: 100%;
            width: 40px;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.85rem;
        }
        
        .nav-options ul li a:hover{
            color:rgb(88, 121, 152);
        }
        .search-mini{
            display:none;
            border: none;

        }
    .user{
        width:40px;
        height:40px;
        background-color:rgba(36, 54, 71, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
    }
    .user:hover{
        background-color:rgb(74, 106, 136)
    }


/*main*/
.main-section{
    background-color:rgba(18, 26, 33, 1);
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.hero-section{
    display:flex;
    /*border: 1px solid white;*/
    width:95%;
    margin-bottom:5%;
    margin-top:3%;
}
/*profile-section*/

.profile-section{
    display: flex;
    flex-direction: column;
    width:70%;
    height:600px;
    
    border: 1px solid white;
    border-radius:2rem;
}
    .profile-bg{
        background-image: url('/images/user-images/profile-bg.jpeg');
        display: flex;
        justify-content:flex-end;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex-direction: column;
        color:white;
        font-size:20px;
        height:80%;
        /*border:1px solid red;*/
        position:relative;
        border-radius:2rem;
        
    }
    .bg-bottom-cover{
        background-color:rgba(18, 26, 33, 1);
        /*border:solid white;*/
        height:25%;
        width:100%;
    }
    .user-profile-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:10%;
        /*border:solid white;*/
        height: 40%;
        width:15%;
        position:absolute;

    }
    .profile-img-container{
        height:80%;
        width:100%;
        overflow:hidden;
        border-radius:50%;
        border: 1px solid white;
    }
    .profile-img{
        height:100%;
        width:100%;
    }

    .follow-count{
        display:flex;
        padding-left:10%;
        padding-top:3%;
        gap:10%;
    }
    .link1{
        display:flex;
        align-items: center;
        gap:5px;
        color:white;
    }
.follow{
    display:flex;
    align-items: center;
    gap:10%;
    padding-left:10%;
    padding-top:2%;
    padding-bottom:5%;
    
}
    .follow-button{
        height:40px;
        width:20%;
        border-radius: 0.85rem;
        font-size: medium;
    }
    .link{
        color:white;
        font-size:medium;
    }
    
.chats-section{
    display:flex;
    flex-direction: column;
    width:30%;
    margin-left:2%;
    justify-content: space-between;
   /* border: 1px solid white;*/
}

.chat{
    display:flex;
    gap:3%;
    align-items: center;
    padding-left: 2%;
}
.chat-prof{
    height:56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:56px;
    overflow:hidden;
    border-radius: 50%;
}
.chat-prof-img{
    height:100%;
    width:100%;
}
.chat-profile-name{
    font-size:15px;
    color:white;
}
.chat-message{
    font-size:12px;
    color:rgba(148, 173, 199, 1);
}

.user-post-section{
    height:auto;
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
    /*border: 3px solid white;*/

}
.user-post1{
    display:flex;
    align-items: center; 
    width:100%;
    
}
.post {
    height: 400px;
    width:25%; 
    margin:1.3%;
    border-radius:1rem;
    overflow:hidden ;
    /*border: 1px solid red;*/
    position:relative;
    background-color: black;
}
.post-img{
    height:100%;
    width:100%;
    object-fit:fill;
    object-position: center;
}



@media screen and (max-width:853px){
    .nav-options{
        display:flex;
        
        justify-content:center;
        width:75%;
        height:40px;
        font-size: medium;
    }
    .logo{
        width:100%;
        /*border: 1px solid white;*/
    }
    .logo h3{
        font-size: 90%;
    }
    .logo img{
        width:30%;
    }
    .search{
        display:none;
    }
    .search-mini{
        display:flex;
        align-items: center;
        justify-content: center;
        
        height:40px;
        width:40px;
        border-radius:0.9rem;
    

    }
    .search-mini button{
        background: rgba(36, 54, 71, 1);
        height:40px;
        width:40px;
        outline:none;
        border:none;
        border-radius:1rem;
    }
    .search-mini button:hover{
       background-color:rgb(55, 84, 112);
    }
    .search-mini button img{
        height:15px;
        width:15px;
    }
    .user{
        width:40px;
        height:40px;
    }
    .user i{
        font-size: 15px;
    }
    .profile-section{
        width:60%
    }
    .profile-section{
        height:400px;
        
    }
    .profile-img-container{
        height:80px;
        width:80px;
    }
    .user-profile-name {
        font-size: 12px;
        height:100px;
        width:100px;
        margin-bottom: 40px;
    }
    .link1{
        font-size: 12px;
    }
    .follow-button{
        font-size: 12px;
        height: 30px;
    }
    .link{
        font-size: 12px;
    }
    .chats-section{
        /*border: 1px solid white;*/
        width:40%;
    }
    .chat-prof{
        height:45px;
        width:45px;
        /*border:1px solid white;*/
    }
    .chat-prof-img{
        height: 100%;
        width:100%;
    }
    .chat-profile-name{
        font-size: 12px
    
    }
    .chat-message{
        font-size: 10px;
    }
    .post{
        width:25%;
        height:200px;
    }
}
@media screen and (max-width:550px){
    nav{
        width:100%;
    }
    .nav-options{
        height:30px;
        font-size: 70%;
        display:flex;
        justify-content: space-evenly;
    }
    .search-mini{
        width:30px;
        height: 28px;
    }
    .search-mini button{
        width:30px;
        height:28px;
    }
    .search-mini button img{
        width:14px;
        height:14px;
    }
    .user{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
    }
    .user i{
        font-size: 10px;
    }
    .main{
        display: flex;
        align-items:center;
    }
    .chats-section{
        display:none;
    }
    .main-section{
        display: flex;
        align-items:center;
    }
    .profile-section{
        width:100%;
        height:350px;
        margin-left:10px;
        margin-top:-10px;
        margin-right:10px;
        
    }
    .profile p{
        font-size: 13px;
    }
    .profile h3{
        font-size: 15px;
    }
    .profile-img p{
        left:13%;
    }
    .profile-img img{
        width:30%;
        height:30%;
        top:55%;
        left:7%;
    }
    .profile-section{
        width:500px;
    }
    .chats-section{
        display:none;
    }
    .post{
        height:130px;
        width:30%;
    }
    
}