*{
	margin: 0;
	padding: 0;
  background:  rgba(18, 26, 33, 1);
}
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/images/van.jpg');
  background-size: cover;
  background-position: center center;
}

.card {
      /* Adjust width as desired */
    height: 100vh;
    width: auto;  /* Adjust height as desired */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

#first,#second,#third,#fourth{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.intro-text{
	font-family: "Poppins", sans-serif;
	text-align: center;
  color: white;
}

#user-mail{
  margin: 10px 20px;
  border-radius: 10px;
  padding: 10px 10px ;
  width: 20vw;
  text-decoration: none;
}
.cul{
  background:  rgba(18, 26, 33, 1);
}

.pr{
  background-color: rgba(18, 26, 33, 1);;
}
