*{
	margin: 0;
	padding: 0;
}
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/van.jpg');
  background-size: cover;
  background-position: center center;
}

.card {
      /* Adjust width as desired */
    height: 100vh;
    width: auto;  /* Adjust height as desired */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

#first,#second,#third,#fourth{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.intro-text{
	font-family: "Poppins", sans-serif;
	/* font-weight: 600; */
	text-align: center;
}
